.banner {
  .container {
    @media (min-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 12.5rem;
      gap: 2rem;
    }
  }

  &__text-content {
    margin-bottom: 5rem;
    @media (min-width: 700px) {
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 4;
      order: 1;
    }
  }

  &__text {
    margin-bottom: 1.6rem;
    @media (min-width: 700px) {
      font-size: 1.8rem;
      margin-bottom: 2.5rem;
    }
  }

  &__img {
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5rem;

    @media (min-width: 700px) {
      height: 100%;
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 5;
      margin-bottom: 0;
    }

    img {
      height: 100%;
    }
  }

  &__stats {
    text-align: center;
    @media (min-width: 550px) {
      display: flex;
      justify-content: space-around;
    }

    @media (min-width: 700px) {
      grid-column: 1 / -1;
      align-items: center;
    }
  }

  &__stat {
    margin-bottom: 2.5rem;
  }

  &__number {
    font-size: 3rem;
    line-height: 1.1;
  }

  &__title {
    text-transform: uppercase;
    color: $color-gray;
    font-size: 1.6rem;
    letter-spacing: 1.25px;
  }
}

.review {
  text-align: center;
  color: $color-white;
  position: relative;
  @media (min-width: 550px) {
    z-index: 20;
    transform: translateY(75px);
  }

  &::after {
    content: "";
    background-color: $color-black;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    height: 70%;

    @media (min-width: 550px) {
      width: 85%;
      max-width: 110rem;
      left: 50%;
      bottom: -50%;
      transform: translate(-50%, -50%);
    }
  }

  &__img {
    // position: absolute;
    margin: 0 auto 12rem;
    max-width: 40rem;
  }

  &__text-content {
    padding: 0 2rem;

    @media (min-width: 780px) {
      padding: 0 8rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__quote {
    margin-bottom: 1.6rem;
    line-height: 1.75;
  }

  &__author {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 1;
  }

  &__author-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-gray;
    letter-spacing: 1px;
    font-weight: 700;
  }
}
